@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ProjectsSection {
	@include fill_container;
	@include sectionPadding;
	height: 100vh;
	min-height: 40vh;

	&_subtitle {
		font-size: 2rem;
		color: var(--header-name);
	}
}
