@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

$accent: var(--accent);

$sectionPadding: var(--pagePadding)
	calc(var(--pagePadding) + var(--page-content-padding));

.AboutSection {
	width: 100%;
	height: 100vh;
	min-height: 40vh;
	padding: $sectionPadding;
	display: block;
	background-color: var(--bg-body);

	&_content {
		width: 100%;
		color: var(--section-title);
		&_para {
			width: 100%;
			font-size: calc(1.3vw + 1vh);
			font-weight: 600;
			letter-spacing: 0.05rem;
			line-height: calc(2vw + 2vh);
			margin-bottom: 2rem;
		}
	}
}

.ParaWithHighlight {
	width: auto;
	text-wrap: wrap;
	word-break: normal;

	& b {
		// text-decoration: 2px solid underline;
		font-style: normal;
	}
	& [data-text] {
		color: $accent;
		text-decoration: none;
	}
	& [data-text="DNS"] {
		// text-decoration: 2px solid underline;
		// text-decoration-color: $accent;
	}
}

@media only screen and (max-width: 650px) {
	.AboutSection {
		padding: var(--pagePadding) calc(var(--pagePadding) + 1rem);
		margin-top: -1rem;

		&_content {
			width: auto;
			&_para {
				font-size: calc(1.3vw + 1.5vh);
				line-height: calc(normal + 1.8vh);
			}
		}
	}
}
