@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

$accent: var(--accent);

.SkillsFilter {
	padding: 0.4rem 1.4rem;
	border-radius: 5rem;
	font-size: 1.4rem;
	font-weight: 600;
	color: $accent;
	background-color: var(--blueGrey900);
	background-color: var(--skill-bg);
	// color: #ffffff;
	border: none;
	outline: none;
	margin: 0 0.2rem;
	&:hover {
		cursor: pointer;
		// box-shadow: map-get($map: $shadows, $key: "medium");
	}
}

.isSelected {
	background-color: var(--accent);
	color: #ffffff;
}
