@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Text {
	width: auto;
	height: min-content;
	line-height: normal;
}

// FONT-SIZES
.size1 {
	font-size: calc(var(--font-size-1) * var(--font-scale));
}
.size2 {
	font-size: calc(var(--font-size-2) * var(--font-scale));
}
.size3 {
	font-size: calc(var(--font-size-3) * var(--font-scale));
}
.size4 {
	font-size: calc(var(--font-size-4) * var(--font-scale));
}
.size5 {
	font-size: calc(var(--font-size-5) * var(--font-scale));
}
.size6 {
	font-size: calc(var(--font-size-6) * var(--font-scale));
}
.size7 {
	font-size: calc(var(--font-size-7) * var(--font-scale));
}
.size8 {
	font-size: calc(var(--font-size-8) * var(--font-scale));
}
.size9 {
	font-size: calc(var(--font-size-9) * var(--font-scale));
}
.size10 {
	font-size: calc(var(--font-size-10) * var(--font-scale));
}
// FONT-WEIGHTS
.wt100 {
	font-weight: 100;
}
.wt200 {
	font-weight: 200;
}
.wt300 {
	font-weight: 300;
}
.wt400 {
	font-weight: 400;
}
.wt500 {
	font-weight: 500;
}
.wt600 {
	font-weight: 600;
}
.wt700 {
	font-weight: 700;
}
.wt800 {
	font-weight: 800;
}
.wt900 {
	font-weight: 900;
}
.wt1000 {
	font-weight: 1000;
}

.alignStart,
.alignLeft {
	text-align: left;
}
.alignEnd,
.alignRight {
	text-align: end;
}
.alignMiddle,
.alignCenter {
	text-align: center;
}
